.reviewsList {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.review {
    padding: 5px;

    border: 2px solid #90cea1;
    border-radius: 4px;

    /* width: calc((100% - 90px) / 5);
    min-width: 250px; */
}

.author {
    margin-top: 0;
    margin-bottom: 20px;
    color: #0d253f;
    font-size: 18px;
    font-weight: 500;
}

.content {
    margin: 0;
    font-size: 14px;
}

.empty {
    margin: 20px 0;
    color: #90cea1;
    font-size: 22px;
    font-weight: 500;
}